@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:ital,wght@1,800&display=swap');


body{
    font-family: Spartan, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(203, 203, 203);
}

.player-container{
    height: 500px;
    width: 400px;
    display: flex; 
    margin-top: 115px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 228, 228);
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}  

.img-container{
   height: 300px;
   width: 300px;
}

.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.6);
}

/* Progress */
.progress-container{
    position: relative;
    top: -40px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}

.progress{
    background: #242323;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.duration-wrapper{
    position: relative;
    top: -28px;
    display: flex;
    justify-content: space-between;
}

/* Controls */
.play-controls{
    position: relative;
    top: -55px;
    left: 28px;
    width: 200px;
}

.fas{
    font-size: 30px;
    color: rgba(129,129,129);
    margin: 10px;
    cursor: pointer;
    user-select: none;
}
.fas:hover{
    filter: brightness(70%);
}
/* Media Query */
@media screen and (max-width:376px) {
.player-container{
    width: 95vw;
}
}